
include ../_jade/_mixins.jade

doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Lullabot Ranch First Annual Dash & Splash 5k, 2 Mile, and 1 Mile Run/Walk
  link(rel="stylesheet" type="text/css" href="css/styles.css")
body
  header
    .site-title
      h1 Lullabot Ranch
      div.tagline Dash & Splash 5k, 2 Mile, and 1 Mile Run/Walk

  main
    section
      .container
        .highlight
          | The First Annual Lullabot Ranch Dash & Splash Fun Run/Walk celebrates
          | health and camaraderie.  There are 3 different courses to choose from,
          | each starting and ending in front of the Smoke Tree Ranch patio and pool
          | at Disney Hall.

    +course("1 Mile Course", '1mile', "Map of the 1 mile course.", '16728678')
      | Descriptive text goes here.
    +course("2 Mile Course", '2mile', "Map of the 2 mile course.", '16728878')
    +course("5k Course", '5k', "Map of the 5k course.", '16728707')

  footer
    | Copyright &copy; 2019 &bull; Lullabot - All Rights Reserved
