
include ../_jade/_mixins.jade

doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title First Annual Lullabot Ranch Dash & Splash 5k, 2 Mile, and 1 Mile Run/Walk
  link(rel="stylesheet" type="text/css" href="css/styles.css")
  link(rel="apple-touch-icon", sizes="57x57", href="/images/favicon/apple-icon-57x57.png")
  link(rel="apple-touch-icon", sizes="60x60", href="/images/favicon/apple-icon-60x60.png")
  link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon/apple-icon-72x72.png")
  link(rel="apple-touch-icon", sizes="76x76", href="/images/favicon/apple-icon-76x76.png")
  link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon/apple-icon-114x114.png")
  link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon/apple-icon-120x120.png")
  link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon/apple-icon-144x144.png")
  link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon/apple-icon-152x152.png")
  link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon/apple-icon-180x180.png")
  link(rel="icon", type="image/png", sizes="192x192",  href="/images/favicon/android-icon-192x192.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon/favicon-96x96.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16x16.png")
  link(rel="manifest", href="/images/favicon/manifest.json")
  meta(name="msapplication-TileColor", content="#ffffff")
  meta(name="msapplication-TileImage", content="/images/favicon/ms-icon-144x144.png")
  meta(name="theme-color", content="#ffffff")
body
  header
    .site-title
      .masthead
        .box--logo
          img.logo(src="/images/Lullabuckaroo.png" alt="Lullabuckaroo")
        .box--text
          h1 Lullabot Ranch
          .tagline Dash & Splash 5k, 2 Mile, and 1 Mile Run/Walk
      .promo
        | The First Annual Lullabot Ranch Dash & Splash Fun Run/Walk celebrates
        | health and camaraderie.  There are 3 different courses to choose from,
        | each starting and ending in front of the Smoke Tree Ranch patio and pool
        | at Disney Hall.

  main
    section.info
      .container
        +signup
      .container
        .info__box
          h2 Date and Start Times
          .description
            | The fun run will be held on Wednesday and the start times will be
            | staggered, beginning at 1:15pm.  Whether you are walking or running,
            | the goal is to have as many people coming to the finish line at
            | the same time as possible.  More info to come.

        .info__box
          h2 Dash & Splash!
          .description
            | With three options to choose from, pick the course the best suits
            | you...literally!  We end at the pool so you can jump right in and
            | cool off before the 3pm activities!  Spectators are encouraged to
            | cheer and high-five as much as possible.

        .info__box
          h2 Course Markings
          .description
            | To minimize disruption of the residents, course markings will not
            | be placed on the roads around Smoke Tree Ranch, so please make sure
            | you know the route, print off a copy to carry, run with your phone,
            | or load the route into your GPS watch.

        .info__box
          h2 Aid Stations
          .description
            | Again, to minimize disruption of the residents, aid stations will not
            | be placed around the ranch.  Carry water with you if you think
            | you'll need it.  Take into account the heat, and remember, it's
            | a fun run!

        .info__box
          h2 Course Safety
          .description
            | Many of the routes follow roads, so beware of cars. Runner etiquette
            | is run on the left side of the road.  For those on the 5k course,
            | ensure you have plenty of water and watch for wildlife in the brush.

        .info__box
          h2 Volunteers
          .description
            | If you would rather support your fellow 'Bots on their quest, we'll
            | need a few volunteers to check participants in and mark finishers,
            | take photos, hand out water, and cheer everyone on as the approach
            | the final stretch and cross the finish line.


      .container
        +signup
    +course("1 Mile Course", '1mile', "Map of the 1 mile course.", '16728678')
    +course("2 Mile Course", '2mile', "Map of the 2 mile course.", '16728878')
    +course("5k Course", '5k', "Map of the 5k course.", '16728707')
  footer
    | Copyright &copy; 2019 &bull; Lullabot - All Rights Reserved
