include _data

// Course section
mixin course(title, filename, alt, strava_id, desc)
    section.course
        .container
            .short
                .map
                    img(src="images/" + filename + ".png" alt=alt)
            .long
                h2= title
                .description= courses[filename]
                .link
                    a.icon--strava(href="https://www.strava.com/routes/" + strava_id) View on Strava
                .link
                    a.icon--file(href="files/" + filename + ".gpx") Download GPX File

mixin signup
    a.button--sign-up(href="https://docs.google.com/spreadsheets/d/1bHOWFbHM2Y0VEIqUaevYTK0ld4KrVjsWXfX9vngUQCU/edit#gid=866231306", target="_blank") Sign Up!
