//- Data for courses
-
  courses = {
    '1mile': "The one mile course begins outside the patio gates in front of Disney hall and follows Conejo Trail around the golf course onto Moronga Trail toward the NW entrance.  Turn left on W Rd, then stay to the right wherever possible to keep along the perimeter.  Make a left at Algodones Trail, then a left on Ranch House road to cruise your way into the finish.",
    '2mile': "The two mile course follows the same route as the 1 mile course to get the the western perimeter of the ranch.  Take W Rd along the western perimeter until you reach the last road: San Jacinto Trail.  Take San Jacinto to the left, then bear slightly to the right at Middle Rd to stay on San Jacinto.  This will turn into E Rd.  Keep to the right on E Rd, then make a left on Cocopah Trail.  First right on Middle Rd, then a left on Algodones Trail, and a right on Ranch House Rd to cruise into the finish.",
    '5k': "Follow the same route as the 1 and 2 mile courses to get onto W Rd.  Follow W Rd past the last road where it becomes the perimeter trail.  Take the perimeter trail around the ranch until it meets up with Middle Rd, the main road.  Stay on Middle Rd then make a right at Algodones Trail, then a right onto Ranch House Rd to cruise into the finish."
  };
