@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Tajawal');
@import "bourbon/bourbon";
@import "tools/vars";

* {
  margin: 0;
  font-family: $font-secondary;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: calc(70% + 1vw);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
}

h1 {
  font-size: 3em;
}

h2, h3 {
  color: $lullabot-red;
}

a {
  text-decoration: none;
  color: $lullabot-red;
  border-bottom: 1px dotted $lullabot-red;
  display: inline-block;

  &:hover, &:focus {
    border-bottom: 1px solid $lullabot-red;
  }

  &.map {
    border: none;

    &:hover, &:focus {
      border-left: 10px solid $lullabot-red;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

p {
  margin: 1em 0;
}

header {
  padding: 2em;
  color: white;
  position: relative;

  background-image: url('../images/str.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 5;
  }
}

main {
  flex: 1 0 auto;
  position: relative;
}

section {
  padding: 4em 0;
  color: #444;
  position: relative;

  // Red divider.
  &:not(last-child):after {
    content: '';
    height: 2px;
    overflow: hidden;
    background: linear-gradient(to right, transparent 0%, $lullabot-red 50%, transparent 100%);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .container {
    h2 {
      line-height: 1.3em;
      margin-bottom: .5em;
    }

    .description {
      margin-bottom: 1em;
    }
  }

  // The info panel above the courses.
  &.info {
    .container {

      .info__box {
        margin-bottom: 2em;
      }
    }

    @media screen and (min-width: 900px) {
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .info__box {
          width: 40%;
          font-size: 0.8em;
        }
      }
    }
  }

  // Large screens
  @media screen and (min-width: 900px) {
    .container {
      display: flex;
      justify-content: space-between;

      .short {
        width: 37%;
        text-align: right;
        padding: 0 1em 0 0;
      }

      .long {
        width: 67%;
        text-align: left;
        padding: 0 0 0 1em;
      }
    }
  }
}

.container {
  padding: {
    left: $content-gutter;
    right: $content-gutter;
  }
}

.site-title {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  padding: 2em $content-gutter;
  position: relative;
  z-index: 10;
}

.tagline {
  position: relative;
  padding-top: 13px;

  &:before {
    content: '';
    height: 1px;
    overflow: hidden;
    background: linear-gradient(to right, $lullabot-red 0%, transparent 20em);
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
  }
}

.highlight {
  padding: 1em;
  background: rgba(black, .8);
  color: white;
  margin: 2em auto;
  border-radius: .25em;
  text-align: center;
  max-width: 38em;
  line-height: 1.5em;

  a {
    color: #4294f0;
  }
}

.promo {
  font-size: 0.8em;
  margin-top: 3em;
  max-width: 42em;
  font-style: italic;
}

.course {
  .map {
    img {
      width: 100%;
      height: auto;
    }
  }

  .link {
    a {
      display: inline-block;
      position: relative;
      border-left: 0 solid transparent;
      border-bottom: none;
      padding: .25em 0 .25em 1.75em;
      transition: border .2s ease-in-out;

      &:hover, &:focus {
        border-left: 5px solid $lullabot-red;
        border-bottom: none;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        background-size: cover;
        margin: .25em 0 .25em 5px;
      }

      &.icon--file {
        &:before {
          background-image: url('../images/map_128.png');
        }
      }
      &.icon--strava {
        &:before {
          background-image: url('../images/strava_128.png');
        }
      }
    }
  }
}

footer {
  flex-shrink: 0;
  border-top: 1px solid #666;
  padding: 2em;
  color: #666;
  font-size: 0.6em;
  text-align: center;
  background: rgba(0, 0, 0, .8);
}
